<template>
    <div id="app">
    <router-view></router-view>
    </div>
</template>
<style> .background {
    background-image: url(img/ocean-bg.jpg);
    background-color: black;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 600px;
    color: white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    height: 600px;
}
</style>
