<template>
 <div class="container">
 <!--
Začátek form-Create
-->
  <div id="id01" class="modal">
      <form class="modal-content animate">
          <div class="container w-50">
              <form class="text-center border border-light p-5">

                  <p class="h4 mb-4">Nový uživatel</p>

                  <div class="form-row mb-4">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Jméno" v-model="User.first_name" value="">
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Přijemní" v-model="User.last_name">
                      </div>
                  </div>
                  <div class="form-row mb-4">
                      <div class="col">
                          <input type="email" class="form-control" placeholder="Email" v-model="User.email">
                      </div>
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Telefon" v-model="User.phone">
                      </div>

                  </div>
                  <div class="form-row mb-4">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="Město" v-model="User.city">
                      </div>
                      <div class="city">
                      </div>
                  </div>
                  <div class="form-row mb-4">
                      <div class="col">
                          <input type="text" class="form-control" placeholder="PSČ" v-model="User.PSC">
                      </div>
                      <div class="col">
                          <!-- Last name -->
                          <input type="text" class="form-control" placeholder="Ulice" v-model="User.street">
                      </div>
                  </div>
                  <button class="btn btn-info my-4 btn-block" @click="add_User()" type="submit">Uložit kontakt</button>
                  <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-secondary">Zrušit</button>
             </form>

          </div>
      </form>
  </div>
        <!--
       Začátek form-edit
-->
        <div id="id02" class="modal">
            <form class="modal-content animate">
                <div class="container w-50">
                    <form class="text-center border border-light p-5">

                        <p class="h4 mb-4">Upravit Kontakt</p>

                        <div class="form-row mb-4">
                            <div class="col">
                                <input type="text"  class="form-control" placeholder="Jméno" value="User.first_name" v-model="User.first_name">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Přijemní" v-model="User.last_name">
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email" v-model="User.email">
                            </div>
                            <div class="col">
                                <input type="text"  class="form-control" placeholder="Telefon" v-model="User.phone">
                            </div>

                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <input type="text"  class="form-control" placeholder="Město" v-model="User.city">
                            </div>
                            <div class="city">
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <input type="text"  class="form-control" placeholder="PSČ" v-model="User.PSC">
                            </div>
                            <div class="col">
                                <!-- Last name -->
                                <input type="text" class="form-control" placeholder="Ulice" v-model="User.street">
                            </div>
                        </div>
                        <button class="btn btn-info my-4 btn-block" @click="edit_User()" type="submit" >Uložit kontakt</button>
                    <button type="button" onclick="document.getElementById('id02').style.display='none'" class="btn btn-secondary">Zrušit</button>
                    </form>
                </div>
            </form>
        </div>
        <!--
     Konec form_edit
-->
        <div class="row m-4">
            <div class="col-4" v-for="user_alias in Users" v-bind:key ="user_alias.id ">
     <ul>
      <li class ="list-group-item ">
       <p class="text-center "> {{ user_alias.first_name }} {{ user_alias.last_name }} </p>
             <p class="w-50 ">
                Tel:{{user_alias.phone}}
             </p>
            <p class="w-25 ">
              Email:{{user_alias.email}}
            </p>
            <p class="w-50 ">
              Město:{{user_alias.city}}
            </p>
            <p class="w-25 ">
              Ulice:{{user_alias.street}}
            </p>
            <p class="w-50 ">
              PSC:{{user_alias.PSC}}
            </p>
          <button @click="delete_User(user_alias._id)" class="alert alert-danger" >Smazat</button>
         <button @click="get_User(user_alias._id)" onclick="document.getElementById( 'id02').style.display='block'"
         class = "alert alert-warning">Upravit</button>
       </li>
      </ul>
     </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
var modal = document.getElementById('id01')
modal = document.getElementById('id02')
window.onclick = function (event) {
  if (event.target === modal) {
    modal.style.display = 'none'
  }
}

const urlUser = 'http://localhost:3000/users/'
const urlUsers = 'http://localhost:3000/users'

export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      User: {first_name: '', last_name: '', email: '', phone: '', city: '', street: '', PSC: ''},
      Users: [],
      tmp_id: 0
    }
  },
  methods: {
    add_User () {
      let newUser = {
        first_name: this.User.first_name,
        last_name: this.User.last_name,
        email: this.User.email,
        phone: this.User.phone,
        city: this.User.city,
        street: this.User.street,
        PSC: this.User.PSC

      }
      axios.post(urlUsers, newUser)
        .then((response) => {
          console.log(response)
        })
        .catch((error) => {
          console.log(error)
        })
      location.reload()
    },
    delete_User (id) {
      console.log('/user/' + id)
      axios.delete(urlUser + id).then(response => {
        console.log(response.data)
      })
      location.reload()
    },
    edit_User () {
      let editUser = {
        first_name: this.User.first_name,
        last_name: this.User.last_name,
        email: this.User.email,
        phone: this.User.phone,
        city: this.User.city,
        street: this.User.street,
        PSC: this.User.PSC
      }
      axios.put(urlUser + localStorage.tmp_id, editUser).then(response => {
        console.log(response.data)
      })
        .catch((error) => {
          console.log(error)
        })
      location.reload()
    },
    get_User (id) {
      axios.get(urlUser + id)
        .then((response) => {
          console.log(response.data)
          localStorage.tmp_id = id
        })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  mounted () {
    axios.get(urlUsers)
      .then((response) => {
        console.log(response.data)
        this.Users = response.data
      })
      .catch((error) => {
        console.log(error)
      })
  }
}

</script>
